# Исключаем файлы Git
.git
.gitignore

# Исключаем каталоги виртуальных окружений
venv/
env/
ENV/

# Исключаем кешированные файлы Python
__pycache__/
*.py[cod]
*$py.class

# Исключаем файлы сборки
build/
dist/

# Исключаем конфигурационные файлы IDE
.vscode/
.idea/

# Исключаем системные файлы
.DS_Store

# Не включаем .env с чувствительными данными,
# т.к. переменные передаются через переменные окружения контейнера
.env
